@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
* {
    box-sizing: border-box
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-image: url(../images/bg.jpg);
    height: 100%;
}

header {
    background-color: black;
    color: orange;
    padding:15px 10px;
    position: fixed;
    top: 0;
    width:100vw;
    display: flex;
    align-items: center;
    z-index: 99;
}

header a {
    margin-left: 10px;
}

.links {
    position: relative;
    top: 200px
}

a:link {
    color: rgb(130, 130, 130);
}

a:active {
    color: rgb(130, 130, 130);
}

a:visited {
    color: rgb(130, 130, 130);
}

a:hover {
    color: rgb(161, 161, 161);
}

footer {
    background-color: black;
    color: rgb(130, 130, 130);    
    padding:15px 10px;
    position: fixed;
    bottom: 0;
    width:100vw;
    display: flex;
    align-items: center;
    z-index: 99;
}

footer p {
    margin-left: 10px;
}

.title1 {
    float: left;
    margin-top: 60px;
    align-items: center;
    padding-bottom: 100px;
}

.title1text p {
    margin-left: 10px;
}

.title1text img {
    float:inherit;
    max-width: 100px;
    max-height: 100px;
    margin-top: 20px;
    margin-left: 10px;
}

.title2 {
    float: right;
    margin-top: 60px;
    align-items: center;
    margin-right: 100px;
}

.table {
    max-width: 800px;
}

@media screen and (max-width:600px){
    .title2 {
        margin-top: -100px;
        margin-right: 5px;
        padding-bottom: 100px;
    }
}